.grid {
    display:grid;
    place-items: center;
    text-align: center;
    line-height: 10;
}

#info{
    line-height: 0.3;
}

body{
    background-color: rgb(134, 184, 201);
    font-family: 'Courier New', Courier, monospace;
}

footer{
    position: absolute;
    width:100%;
    bottom: 0;
    text-align: center;
    font-size: 8;
}